<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Panel wolontariusza</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Witaj w panelu wolontariusza, tutaj możesz ustawić swój numer telefonu oraz zakres w którym będziesz chętny do pomocy.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Twój e-mail : {{userEmail}}
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item>
        <ion-label>Imię: </ion-label>
        <ion-input id ="inputImie" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Numer telefonu: </ion-label>
        <ion-input  id="telefon" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-toggle (ionChange)="changeZakupy()" slot="start"></ion-toggle>
        <ion-label>Zrobię zakupy</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle (ionChange)="changeSamochod()" slot="start"></ion-toggle>
        <ion-label>Mam samochód</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle (ionChange)="changePies()" slot="start"></ion-toggle>
        <ion-label>Wyprowadzę zwierzę na spacer</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle (ionChange)="changeApteka()" slot="start"></ion-toggle>
        <ion-label>Pojadę do apteki</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle (ionChange)="changeRozmowa()" slot="start"></ion-toggle>
        <ion-label>Chętnie porozmawiam :)</ion-label>
      </ion-item>
    </ion-list>
    <ion-button (click)="test()" (click)="presentToast()" type="submit">Zapisz</ion-button>
  </ion-grid>
</ion-content>
