<ion-header>
  <ion-toolbar>
    <ion-title>Panel wolontariusza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Witaj w panelu wolontariusza, tutaj możesz ustawić swój numer telefonu oraz zakres w którym będziesz chętny do pomocy.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Twój e-mail : {{userEmail}}
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item>
        <ion-label>Numer telefonu: </ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-toggle slot="start"></ion-toggle>
        <ion-label>Zrobię zakupy</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle slot="start"></ion-toggle>
        <ion-label>Mam samochód</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle slot="start"></ion-toggle>
        <ion-label>Innetest</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>


</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Wyloguj się</ion-title>
  </ion-toolbar>
</ion-footer>